!!! 5
%html{ :lang => 'en' }

%head
  %meta{:charset => "utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge,chrome=1"}

  -# Pull in the page title
  %title= @title

  %meta{:name => "description", :content => ""}
  %meta{:name => "author", :content => ""}
  %meta{:name =>"viewport", :content => "width=device-width, initial-scale=1.0"}

  -# Place favicon.ico and apple-touch-icon.png in the root directory
  -# Stylesheets
  = stylesheet_link_tag 'application'

%body
  #wrap
    %header.navbar.navbar-inverse
      .container
        .navbar-inner
          .navbar-header
            %button.navbar-toggle.collapsed{ 'data-toggle' => "collapse",  "data-target" => ".bs-navbar-collapse", :type => "button" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar  
            %a.navbar-brand{ "href" =>"#"} App 
          %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => "navigation"}               
            %ul.nav.navbar-nav
              %li.active
                %a{ "href" =>"#" } Home
              %li
                %a{ "href" => "#"} About
              %li
                %a{ "href" => "#" } Contact
    .container
      ~ yield

  %footer
    .container
      %p &copy; #{copyright_years(2014)} App

  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
  = javascript_include_tag 'application'

  -# Google Analytics: change UA-XXXXX-X to be your site's ID.
  -# uncomment when deploying
  / :javascript
  /   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  /   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  /   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  /   s.parentNode.insertBefore(g,s)}(document,'script'));
