html,
body
	height: 100%

body
	#form
		display: none
		textarea
			width: 100%
			margin-bottom: 10px
			padding: 5px
		textarea:focus::-webkit-input-placeholder
			color: transparent!important
		textarea:focus::-moz-placeholder
			color: transparent!important
		textarea:focus:-moz-placeholder
			color: transparent!important
	#wrap
		height: auto !important
		margin: 0 auto -60px
		min-height: 100%

	#content
		display: none
		
		#breadcrumb, 
		#list 
			margin-top: 40px

		.data
			list-style: none
			border-top: 1px solid #e5e5e5
			border-bottom: 1px solid #e5e5e5
			padding: 0 

			li
				border-bottom: 1px solid #e5e5e5
				padding: 10px
				cursor: pointer

				ul
					list-style: none
					display: none
			
			li:last-child
				border-bottom: none

			li:hover,
			li:focus 
				background-color: #f5f5f5
				color: #555
				text-decoration: none

			a
				color: #3d464d

			a span
				margin-right: 8px			
	#status
		display: none
		margin: 20px 0				

	footer
		padding: 20px
		background-color: #f5f5f5
		height: 60px

		p
			margin: 0

.glyphicon-refresh-animate
	animation: spin .7s infinite linear
	-webkit-animation: spin2 .7s infinite linear

@-webkit-keyframes spin2
	from 
		-webkit-transform: rotate(0deg)
	to 
		-webkit-transform: rotate(360deg)


@keyframes spin
	from 
		transform: scale(1) rotate(0deg)
	to 
		transform: scale(1) rotate(360deg)

// Twitter Bootstrap
@import "bootstrap-sprockets"
// @import 'bootstrap'

// Core variables and mixins
@import "bootstrap/variables"
@import "bootstrap/mixins"
// Reset and dependencies
@import "bootstrap/normalize"
//@import "bootstrap/print"
@import "bootstrap/glyphicons"
// Core CSS
@import "bootstrap/scaffolding"
//@import "bootstrap/type"
//@import "bootstrap/code"
@import "bootstrap/grid"
//@import "bootstrap/tables"
@import "bootstrap/forms"
@import "bootstrap/buttons"
// Components
//@import "bootstrap/component-animations"
//@import "bootstrap/dropdowns"
//@import "bootstrap/button-groups"
//@import "bootstrap/input-groups"
@import "bootstrap/navs"
@import "bootstrap/navbar"
@import "bootstrap/breadcrumbs"
//@import "bootstrap/pagination"
//@import "bootstrap/pager"
//@import "bootstrap/labels"
//@import "bootstrap/badges"
//@import "bootstrap/jumbotron"
//@import "bootstrap/thumbnails"
@import "bootstrap/alerts"
//@import "bootstrap/progress-bars"
//@import "bootstrap/media"
//@import "bootstrap/list-group"
//@import "bootstrap/panels"
//@import "bootstrap/responsive-embed"
//@import "bootstrap/wells"
//@import "bootstrap/close"
// Components w/ JavaScript
//@import "bootstrap/modals"
//@import "bootstrap/tooltip"
//@import "bootstrap/popovers"
//@import "bootstrap/carousel"
// Utility classes
//@import "bootstrap/utilities"
//@import "bootstrap/responsive-utilities"