- @title = "Frontend developer job interview"
- @bodyclass = "index"


#form
  %textarea.input-block-level{:id => "textarea", :name => "data", :placeholder => "Paste your JSON URL here. ex: http://karpatsmoly.com/work/data.json", :rows => "1"}
  %button.btn.btn-info#submit Import

#status

#content 

  #breadcrumb
    %ul.breadcrumb
      %li.home
        %a{:href => "/"} Home

  #list 

%a#import.btn.btn-default{:href => "javascript:;"}
  Import JSON                    